.cart_popup-container {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background: var(--silver-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.cart_popup-container .buttons_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
}
